*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */

}
body{
    width: 100%;
    background:  #F7F8FA;
    background-color: #b02600;
    overflow-x: hidden;

}

#container{
    width: 70%;
    height: auto;
    margin: 0px auto;
}

.container{
    display: block;
    margin: 0px auto;
    width: 50%;
    height: 60px;
    border-radius: 60px;
    text-align: center;
    line-height: 60px;
    color: #FFFFFF;
    background: #FFFFFF;
    color: #1E1E1E;
    border: 1px solid #E0E0E0;
}

.container:hover{
    background:  #F7F8FA;
    cursor: pointer;
}

.container h1{
    font-size: 1.7rem;
    font-weight: bold;
}

.profile{
    text-align: center;
    width: auto;
    height: auto;
    margin: 0px auto;
    margin-top: 0.5rem;
}

.profile > #date{
    display: block;
    width: 10%;
    padding-right: 22rem;
    margin-top: 20px;
    margin: 0px auto;
}

.profile > h2{
    padding-right: 300px;
    padding-top: 10px;
    font-size: 33px;
    margin-left: -60px;
    margin-top: 0px;
    width: auto;
    height: auto;
    margin: 0px auto;
}

.profile > #aqui{
    font-family: cursive;
    margin-top: 10px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
}

#date{
    padding-right: 300px;
}

#main-2 > h2{
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
}

#form-task{
    margin-left: 233px;
    margin-bottom: 20px;
    background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
    width: 490px;
    height: 90px;
    width: 49%;
    min-height: 5.6rem;
    border-radius: 20px;
    background:  #F7F8FA;
    color: #1E1E1E;
    border-radius: 10px;
    margin: 0px auto;
}

#form-task > input{
    margin-top: 20px;
    margin-left: 10px;
    width: 370px;
    width: 77%;

    height: 30px;
    padding-left: 27px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 10px;
    border-radius: 90px;
    font-size: 19px;
}

#form-task > button{
    width: 60px;
    height: 30px;
}

.task-container{
    width: 50%;
    height: 100%;
    min-height: 300px;
    margin-top: 20px;
    margin-left: 50px;
    padding-top: 20px;
    padding-left: 10px;
    margin: 0px auto;
}

.know{
    width: 94%;
    height: 60px;
    border-radius: 20px;
    text-align: center;
    margin: 0px auto;
    margin-top: 10px;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.03); 
    border: 1px solid #C9D8FF;	
}


.know p i{
    display: inline-block;
    width: 45%;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.delete{
    display: inline-block;
    width: 24%;
    height: 23px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 50px;
    border-color: #E0E0E0;
    background: #FFE5E5;
    color: #B00020;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    padding: 2px 4px;
}


@media (max-width: 400px) {
    
    .container{
        width: 100%;
    }

    .profile{
        margin: 0px auto;
    }

    .profile > #date{
        width: 34%;
    }

    .profile > h2{
        width: 50%;
    }

    .profile > #aqui{
        width: 100%;
    }

    #main-2 > h2{
        width: 100%;
    }
    
    #form-task{
        width: 100%;
    }

    #form-task > input{
        width: 60%;
        height: 32%;
    }
    
    .task-container{
        width: 90%;
    }


}

@media (min-width: 401px) and (max-width: 449px) {

    .container{
        width: 100%;
    }

    .profile > #date{
        width: 34%;
    }

    .profile > h2{
        width: 50%;
    }
    
    .profile > #aqui{
        width: 100%;
    }

    #form-task{
        width: 100%;
    }
    
    #form-task > input{
        width: 60%;
        height: 32%;
    }

    #main-2 > h2{
        width: 100%;
    }

    .task-container{
        width: 90%;
    }
    

}
  

@media (min-width: 450px) and (max-width: 500px) {

    .container{
        width: 100%;
    }
    
    .profile > #date{
        width: 34%;
    }

    .profile > h2{
        width: 50%;
    }
    
    .profile > #aqui{
        width: 100%;
    }

    #form-task{
        width: 100%;
    }
    
    #form-task > input{
        width: 67%;
        height: 32%;
    }

    #main-2 > h2{
        width: 100%;
    }

    .task-container{
        width: 90%;
    }
    

}
  

@media (min-width: 501px) and (max-width: 550px) {

    .container{
        width: 100%;
    }

    .profile > #date{
        width: 34%;
    }

    .profile > h2{
        width: 50%;
    }
    
    .profile > #aqui{
        width: 100%;
    }

    #form-task{
        width: 100%;
    }
    
    #form-task > input{
        width: 67%;
        height: 32%;
    }

    #main-2 > h2{        
        width: 100%;
    }

    .task-container{
        width: 90%;
    }
    
}


@media (min-width: 550px) and (max-width: 600px) {

    .container{
        width: 100%;
    }

    .profile > #date{
        width: 30%;
    }

    .profile > h2{
        width: 50%;
    }
    
    .profile > #aqui{
        width: 100%;
    }

    #form-task{
        width: 100%;
    }
    
    #form-task > input{
        width: 67%;
        height: 32%;
    }

    #main-2 > h2{
        width: 100%;
    }
    .task-container{
        width: 90%;
    }
    

}


@media (min-width: 601px) and (max-width: 700px) {

    .container{
        width: 100%;
    }

    .profile > #date{
        width: 30%;
    }

    .profile > h2{
        width: 50%;
    }
    
    .profile > #aqui{
        width: 100%;
    }

    #form-task{
        width: 100%;
    }
    
    #form-task > input{
        width: 70%;
        height: 32%;
    }

    #main-2 > h2{
        width: 100%;
    }
    .task-container{
        width: 90%;
    }
    

}